<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=visibility"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=add"
    />
  </head>
  <body>
    <main>
      <h1><%= title %></h1>
      <div class="welcome-container">
        <h4 class="welcome-remarks">
          Welcome to the Global Freedom Wall – a place where you’re invited to
          share your thoughts and ideas openly.
        </h4>
      </div>
      <a href="/new" class="add-entry"
        ><span class="material-symbols-outlined add-icon"> add </span> Add Entry
      </a>

      <div class="message-container">
        <% for (let i = messages.length - 1; i >= 0; i--) { %>
        <div class="message-card">
          <div class="message-card-header">
            <p class="message-user"><%= messages[i].user %></p>
            <a href="/<%= messages[i].id %>" class="view-button">
              <span class="material-symbols-outlined"> visibility </span>
            </a>
          </div>
          <div class="message-card-body">
            <p class="message-text">
              "<%= truncateText(messages[i].text, 100) %>"
            </p>
          </div>
          <p class="message-date">
            Entry Submitted at: <%= messages[i].added %>
          </p>
        </div>
        <% } %>
      </div>
    </main>
    <%- include('footer') %>
  </body>
</html>
